
/* FORM STYLING */

a h1 {
	text-align: center;
}

fieldset {
	display: flex;
	flex-direction: column;
}

.form-fields {
/*	display: flex;
	flex-direction: column;
	align-items: center;*/
	margin-left: auto;
	margin-right: auto;
}

.form-subtitle {
	text-align: center;
}

@media (min-width: 770px) {
	.form-fields {
		margin-left: 0;
		margin-right: 0;
	}

	.form-subtitle {
		text-align: left;
	}
}

.form-content {

}

form, .form-output {
	background-color: white;
	display: flex;
	flex-direction: column;
	max-width: 600px;
	padding: 40px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	border: 2px solid var(--site-blue);
/*	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;*/
}

.form-output {
	max-width: 600px;
	margin-top: 30px;
}

.form-fields label {
	margin-top: 15px;
}

.form-fields input, .form-fields textarea, .form-fields button{
	width: 100%;
	margin-top: 5px;
	border: 2px solid var(--site-blue);
}

.form-fields button {
	margin-top: 25px;
}

input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0; 
}

.radio {
	display: flex;
	justify-content: center;
	align-items: center;

}

.radio input {
	max-width: 15px;
	margin: 12px 0 0 10px;
}

/*JS/PHP toggle*/

.code-toggle {

}

.toggle {
	position: relative;
	display: inline-block;
	width: 53px;
	height: 30px;
	background-color: var(--site-blue);
	border-radius: 30px;
	border: 2px solid grey;
}

.toggle:after {
	content: '';
	position: absolute;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	background-color: var(--site-pink);
	top: 2px;
	left: 1px;

	transition: all 0.5s;
}

.checkbox:checked + .toggle::after {
	left: 25px;
}

.checkbox {
	display: none;
}

.checkbox:checked + .toggle {
	background-color: var(--site-yellow);
}

@media (min-width: 500px) {

	.form-fields, .form-output {
		max-width: 450px;
	}
}

@media (min-width: 600px) {

	.form-fields, .form-output {
		width: 500px;
	}
}

.exercise-form {
	margin-top: 40px;
}

@media (min-width: 770px) {

/*	.form-fields {
		flex-direction: row;
	}*/

	.exercise-form {
		grid-column: 2/25;
		grid-row: 1/4;

		padding-right: 20px;

	
	}
}

@media (min-width: 1100px) {
	.exercise-form {
		grid-column: 1/25;
	}
}

.buttons {
	display: flex;
	flex-direction: row;
	gap: 15px;
}

form button, .form-button {
	margin-top: 30px;
	padding: 5px 30px;
	border: 2px solid black;
}

form button:hover {
	background-color: var(--site-yellow);
}

.gentle-reminder {
	color: red;
}