
/* FORM STYLING */

a h1 {
	text-align: center;
}

fieldset {
	display: flex;
}

.form-fields, .form-output {
	background-color: white;
	display: flex;
	flex-direction: column;
	max-width: 300px;
	padding: 40px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	border: 2px solid var(--site-blue);
/*	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;*/
}

.form-output {
	margin-top: 30px;
}

.form-fields label {
	margin-top: 15px;
}

.form-fields input, .form-fields textarea, .form-fields button{
	width: 100%;
	margin-top: 5px;
	border: 2px solid var(--site-blue);
}

.form-fields button {
	margin-top: 25px;
}

input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0; 
}

.code-toggles {
	flex-direction: row;
	align-items: center;
}

.radio {
	display: flex;
	justify-content: center;
	align-items: center;

}

.radio input {
	max-width: 15px;
	margin: 12px 0 0 10px;
}

@media (min-width: 500px) {

	.form-fields, .form-output {
		max-width: 450px;
	}
}

@media (min-width: 600px) {

	.form-fields, .form-output {
		width: 500px;
	}
}

.exercise-form {
	margin-top: 40px;
}

@media (min-width: 770px) {
	.exercise-form {
		grid-column: 2/25;
		grid-row: 1/4;

		padding-right: 20px;
	}
}

@media (min-width: 1100px) {
	.exercise-form {
		grid-column: 1/25;
	}
}

.buttons {
	display: flex;
	flex-direction: row;
	gap: 15px;
}

form button, .form-button {
	margin-top: 30px;
	padding: 5px 30px;
	border: 2px solid black;
}

form button:hover {
	background-color: var(--site-yellow);
}

.gentle-reminder {
	color: red;
}