/* SITE STRUCTURE */

body * {
/*	border: 3px solid red;*/
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	--site-yellow: #facc36;
	--site-pink: #e2929f;
	--site-blue: #ace2d0;
	--site-green: #c6cc53;
}

inner-column {
	display: block;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 15px;
}

main {

	border-top: 2px solid var(--site-blue);
	border-bottom: 2px solid var(--site-blue);
}

.last-column {
	display: none;
}

.fake-button {
	padding: 30px;
}

.fake-button:hover {
	background-color: var(--site-pink);
	color: white;
}

@media (min-width: 550px) {
	inner-column {
		padding-left: 20px;
		padding-right: 0;

	}

	main {
		border-right: 2px solid var(--site-blue);
	}
}

@media (min-width: 770px) {

	inner-column {
		display: grid;
		padding: 0;
		padding-left: 5px;
		padding-right: 5px;
		grid-template-columns: repeat(24, 1fr);
		grid-template-rows: 150px auto 1fr;
	}

	header inner-column, footer inner-column {
		grid-template-rows: 1fr;
	}

	main inner-column {
		padding-top: 0;

	}

	.last-column {
		display: grid;
		grid-column: 25;
		grid-row: 1 / -1;
		margin-top: 0;
		border-left: 2px solid var(--site-blue);

	}
}

.page-content {
	flex-grow: 1;
}