@import 'meyer-reset.css';
@import 'setup.css';


html {
	scroll-behavior: smooth;
}

body * {
/*	border: 2px solid red;*/
}

body {
	/*	background-color: #FFFBEE;*/
/*	background-color: #feb7bf;*/
/*	background-color: #bf2c32;*/
	background-color: #e2967f;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.inner-column {
	max-width: 1300px;
	margin-left: auto;
	margin-right: auto;
}

.page-content {
	flex-grow: 1;
}


/* TYPOGRAPHY */

h1, h2, h3, h4, h5, h6 {
	font-family: 'Marcellus', 'Georgia', serif;
}

h1 {
	font-size: 64px;
	font-weight: 600;
	line-height: 1.25;
	text-decoration: none;
}

h2 {
	font-size: 48px;
	font-weight: 600;
}

h1 + h2 {
	margin-top: 40px;
}

h3 {
	font-size: 36px;
	font-weight: 600;
	text-decoration: underline;
}

.smaller-voice {
	font-size: 20px;
}

p, a {
	font-family: 'Montserrat', 'Gill Sans', sans-serif;
}

p {
	padding: 10px;
	font-size: 22px;
	line-height: 1.5;
}

a {
	font-size: 24px;
}

p a { 
	color: #c11927;
	font-weight: 600;
}

p a:hover {
	color: #0099b1;
}

li a {
	padding: 5px;
}

footer a:hover {
	color: #FFFBEE;
}


/* PAGE CONTENT */

.box-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  grid-gap: 10px;
  padding: 10px;
  max-width: 1300px;
  justify-content: center;
}

@media (min-width: 700px) {
	.box-container {
	  display: grid;
	  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
	  grid-gap: 10px;
	}
}

@media (min-width: 1300px) {
	.box-container {
		margin-left: auto;
		margin-right: auto;
	}
}
/*@media (min-width: 1200px) {
	.box-container {
	  max-width: 1300px;
	  margin-left: auto;
	  margin-right: auto;
	  display: grid;
	  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
	  grid-gap: 10px;
	}
}*/

.box {
	background-color: #FFFBEE;
	border: 7px solid black;
	padding: 20px;
	border-radius: 5px;
}

.nav-box {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #e2929f;
	color: #FFFBEE;
}

.about {
	background-color: #facc38;
}

.projects {
	background-color: #c6cc53;
}

.contact {
	background-color: #ace2d0;
}

.about, .projects, .contact {
	padding: 20px 5px;
}

.color-box1, .color-box2, .color-box3, .color-box4 {
	display: none;
}

@media (min-width: 700px) {

	.about, .projects, .contact {
		background-color: #FFFBEE;
	}

	.color-box1, .color-box2, .color-box3, .color-box4 {
		display: grid;
	}

	.color-box1 {
		background-color: #facc38;
	}

	.color-box2 {
		background-color: #c6cc53;
	}

	.color-box3 {
		background-color: #ace2d0;
	}

	.color-box4 {
		background-color: #ff9700;
	}
}

.name-box {
	text-align: center;
	padding: 20px;
}

nav {
	padding: 20px;
	text-align: center;
}

nav a {
	font-weight: 600;
	padding: 15px;
}

nav a:hover, li a:hover {
	background-color: #e36b62;
	color: floralwhite;
	border-radius: 5px;
}

.about h3, .projects h3, .contact h3 {
	padding: 20px 20px 10px 20px;
	text-align: center;
}

.projects ul {
	margin-left: 20px;
	padding-left: 20px;
	list-style: disc;
}

.projects li {
	padding-top: 10px;
}

a:link {
	text-decoration: none;
}

footer {
	margin-top: 60px;
	padding-left: 8px;
}


/* GOALS PAGE */

.goals-box h2 {
	text-align: center;
}

.goals-box h3 {
	padding: 20px 20px 10px 20px;
	text-align: center;
}

ul {
	padding: 20px;
}

li {
	list-style-type: disc;
	font-family: font-family: 'Montserrat', 'Gill Sans', sans-serif;
	font-size: 20px;
	line-height: 1.3;
	padding: 5px;
}

/* RESUME PAGE */

.resume-box h2 {
	text-align: center;
}

.resume-box h3 {
	padding: 20px 20px 10px 20px;
	text-align: center;
}

address {
	font-family: 'Montserrat', 'Gill Sans', sans-serif;
	font-size: 20px;
	line-height: 1.7;
	padding: 5px;
}

address a:hover {
	background-color: #e36b62;
	color: floralwhite;
	border-radius: 5px;
	padding: 0 4px;
}

ul {
	padding: 20px;
}

li {
	list-style-type: disc;
	font-family: 'Montserrat', 'Gill Sans', sans-serif;
	font-size: 20px;
	line-height: 1.3;
	padding: 5px;
}

h2 + h3 {
	margin-top: 30px;
}

h3 + p {
	margin-top: 20px;
}

p + h3 {
	margin-top: 20px;
}












