@import 'meyer-setup.css';


/* SITE SET UP */

body * {
/*	border: 3px solid red;*/
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	--site-yellow: #facc36;
	--site-pink: #e2929f;
	--site-blue: #ace2d0;
	--site-green: #c6cc53;
}

inner-column {
	
	display: block;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
}

@media (min-width: 860px) {

	inner-column {
		padding: 20px;
	}
}

.page-content {
	flex-grow: 1;
}

/* TYPOGRAPHY & SITE-WIDE SPACING */

.heyyou-voice {
	font-family: "Poppins", Avenir, sans-serif;
	font-size: clamp(26px, 13vw, 50px);

}

.attention-voice {
	font-family: "Poppins", Avenir, sans-serif;
	font-size: 40px;
	margin-bottom: 40px;
}

.nav-voice {
	font-family: "Poppins", Avenir, sans-serif;
	font-size: 16px;
	font-weight: 500;
}

.info-voice {
	font-family: "Poppins", Avenir, sans-serif;
	font-size: clamp(18px, 25px, 25px);
	font-weight: 400;
}

.reading-voice {
	font-family: "Poppins", Avenir, sans-serif;
	font-size: clamp(12px, 6vw, 18px);
	font-weight: 300;
	line-height: 1.4;
}

.button-voice {
	font-family: "Poppins", Avenir, sans-serif;
	font-size: clamp(14px, 4vw, 22px);
	font-weight: 400;
}

.logo {
	font-family: "Poppins", Avenir, sans-serif;
	font-size: 30px;
	font-weight: 500;
	text-transform: uppercase;
}

.site-header a:hover, .site-footer a:hover {
	color: salmon;
}

h1 + p {
	margin-top: 40px;
}

h2 + p, h2 + ul {
	margin-top: 20px;
}

p + p {
	margin-top: 20px;
}

h1 + h2 {
	margin-top: 30px;
}

h2 + ul {
	margin-top: 30px;
}

ul + h2 {
	margin-top: 30px;
}

section + section {
	margin-top: 30px;
}

form {
	margin-top: 20px;
}

legend {
	margin-bottom: 20px;
}

@media (min-width: 860px) {

	section + section {
		margin-top: 0;
	}
}

/* SITE HEADER */

.site-header {
	background-color: var(--site-yellow);
	padding-top: 15px;
	padding-bottom: 5px;
	margin-bottom: 40px;
}

.site-header inner-column {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-nav {
	display: grid;
	grid-template-columns: 50% 50%;
	gap: 15px;
	margin-right: 20px;
}

.header-nav a {
	margin-left: 10px;
}

.header-nav a {
	margin-left: 10px;
}

@media (min-width: 600px) {
	.header-nav {
		width: 49%;
		display: flex;
		justify-content: space-between;
	}
}

/* HOME PAGE CONTENT */ 

.home-intro p {
	max-width: 60ch;
}

.home-projects li + li {
	margin-top: 30px;
}

.home-projects .project-tile {
	max-width: 700px;
}

.home-svg {
	margin-top: 60px;
}

.home-pic {
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 630px) {
	inner-column {
		max-width: 600px;
	}

	.home-projects .project-tile {
		max-width: 700px;
		height: 215px;
	}
}
@media (min-width: 860px) {

	inner-column {
		max-width: 1100px

	}
	.home-grid inner-column {
		display: grid;
		grid-template-columns: 50% 10% 40%;
		grid-template-rows: auto;
		gap: 10px;
	}

	.home-intro {
		grid-column: 1;
		grid-row: 1 / 5;
	}

	.home-svg {
		grid-column: 1;
		grid-row: 5 / 9;
	}

	.home-projects {
		grid-column: 3;
		grid-row: 1 / 9;
		justify-self: end;
	}

	.home-contact {
		display: flex;
		justify-content: center;
		grid-column: 3;
		grid-row: 9;
	}

	/*.home-projects .project-tile {
		max-width: 500px;
	}
*/
	.home-projects .button {
		margin-top: 60px;
	}

}

@media (min-width: 925px) {

}

/* ABOUT */

.about-grid {
	margin-top: 40px;

}

.about-grid picture {
	max-width: 400px;
}

picture.acpt {
	max-width: 300px;
}


div + div {
	margin-top: 30px;
}

.atlas {
	display: none;
}

.c2c, .acpt {
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 900px) {
	.about-grid {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-rows: auto;
		justify-items: center;
		align-items: center;
		padding: 0;
		margin-top: 0;
	}

	.about-grid picture {
		max-width: 500px;
	}

	.c2c, .atlas {
		max-width: 400px;
	}

	.c2c {
		margin-left: 30px;
	}

	.atlas {
		margin-right: 30px;
	}

	picture.acpt {
		max-width: 350px;
	}

	.atlas {
		display: block;
		align-self: center;
		justify-self: left;
	}

	.about-text2 {
		margin-left: 40px;
	}
}

@media (min-width: 1050px) {
	.about-text1, .about-text2, .about-text3 {
		justify-self: left;
	}

	.about-img1, .about-img2, .about-img3 {
		justify-self: center;
	}
}
/* PROJECTS & FORMS - PAGES & TILES */

.projects h1 {
	margin-bottom: 30px;
}

.e4p h2 {
	margin-bottom: 30px;
}

.project, .form {
	margin-top: 20px;
}

/*a.project {
	max-width: 500px;
}*/

.form-tile, .project-tile {
	height: 250px;
	max-width: 500px;
	border: 4px solid black;
	padding: 10px 20px;
	border-radius: 8px;
	box-shadow: var(--site-green) -13px 13px;

}

.project-tile:hover {
	background-color: var(--site-blue);
}

.form-tile:hover {
	background-color: var(--site-blue);
}

.form-tile h3, .project-tile h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}

/*.home-projects .tile-img, .home-projects .tile-img {
	display: block;
}*/

/*.home-projects .overlay, .projects .overlay {
	display: none;
}*/

/*.projects a:hover .tile-img {
	display: none;
}

.projects a:hover .overlay {
	display: block;
}*/

.book-link:hover {
	color: salmon;
}

@media(min-width: 500px) {
	.form-tile, .project-tile {
		height: 200px;
		margin-top: 25px;
	}
}

@media (min-width: 650px) {

	.form-grid ul, .project-grid ul {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 15px 30px;
	}

	.form-tile, .project-tile {
		height: 250px;
		max-width: 400px;
		padding: 30px;
		margin-top: 0;
	}
}

@media (min-width: 900px) {
	.form-grid ul, .project-grid ul {
		grid-template-columns: repeat(3, 1fr);
	}

	.form-tile, .project-tile {
		max-width: 350px;
	}
}

@media (min-width: 700px) {
	.book-link {
		display: inline-block;
	}
}

/* FORM STYLING */

a h1 {
	text-align: center;
}
.form-fields, .form-output {
	background-color: white;
	display: flex;
	flex-direction: column;
	max-width: 300px;
	padding: 40px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

@media (min-width: 600px) {

	.form-fields, .form-output {
		width: 500px;
	}
}

.form-output {
	margin-top: 30px;
}

.form-fields label {
	margin-top: 15px;
}
.form-fields input {
	max-width: 20ch;
	margin-top: 5px;
}

input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0; 
}

@media (min-width: 500px) {

	.form-fields, .form-output {
		max-width: 450px;
	}
}

.buttons {
	display: flex;
	flex-direction: row;
	gap: 15px;
}

form button {
	margin-top: 30px;
	padding: 5px 30px;
	border: 2px solid black;
}

form button:hover {
	background-color: var(--site-yellow);
}

.gentle-reminder {
	color: red;
}


/* CONTACT */

.contact-text {
	margin-top: 60px;
}

.contact address {
	display: inline-block;
	font-weight: 700;
}

.contact address:hover {
	color: coral;
}

.contact-text p {
	margin-top: 40px;
}

/* GOALS & RESUME */

.goals ul, .resume ul {
	list-style-type: disc;
	padding-left: 20px;
}

.goals li, .resume li {
	line-height: 1.5;
	max-width: 70ch;
}

.goals li + li, .resume li + li {
	margin-top: 5px;
}

.resume h3 {
	font-weight: 700;
}

/* SITE FOOTER */

.site-footer {
	background-color: var(--site-yellow);
	padding-bottom: 30px;
	margin-top: 40px;
}

.site-footer inner-column {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.footer-nav {
	display: flex;
	align-items: flex-start;
	gap: 40px;
}

.site-footer address {
	margin-top: 30px;
}

@media (min-width: 600px) {
	.site-footer inner-column {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.footer-nav {
		margin-top: 30px;
	}
}

/* BUTTON */

.button {
	background-color: var(--site-yellow);
	padding: 5px 5px;
	margin-top: 40px;
	border: 5px solid var(--site-yellow);
	border-radius: 8px;
	box-shadow: var(--site-pink) -13px 13px;
	transition: ease-in-out 0.5s;
	max-width: 200px;
	font-size: 16px;
/*	max-width: 400px;*/
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

@media (min-width: 600px) {
	.button {
		max-width: 400px;
		padding: 10px 15px;
	}


	.button:hover {
		background-color: var(--site-pink);
		color: white;
		transform: translateX(-13px) translateY(13px);
		transition: ease-in-out 0.5s;
		border: 5px solid var(--site-pink);
		border-radius: 8px;
		box-shadow: none;
	}

	.button:active {
		background-color: var(--site-pink);
		color: white;
		transform: translateX(-13px) translateY(13px);
		transition: ease-in-out 0.5s;
		border: 5px solid var(--site-pink);
		border-radius: 8px;
		box-shadow: none;
	}

}