@import 'meyer-setup.css';

body * {
/*	border: 2px solid red;*/
}

body {
	background-color: #f6f8fa;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}


inner-column {
	display: block;
	background-color: white;
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
}

.page-content {
	flex-grow: 1;
}

/*.dark-mode {
	background-color: black;
	color: white;
}*/

/* TYPOGRAPHY */

.heyyou-voice {
	font-family: Arial, sans-serif;
	font-size: 34px;
	font-weight: 600;
}

.reading-voice {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.4;
	font-weight: 300;
}

.vid-title-voice {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.4;
	font-weight: 600;
	color: #2638c4;
}

.vid-meta-voice {
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	margin-top: 10px;
}

/* SITE HEADER */

.site-header {
	background-color: #2638c4;
	color: white;
	padding: 20px;
	position: sticky;
	top: 0;
	z-index: 99;
	display: flex;
	justify-content: space-between;
}

.site-header a {
	font-family: Arial, sans-serif;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 0.05rem;
	color: white;
}

/* MAIN */

main inner-column h1 {
	color: #0f1e8c;
	margin-top: 20px;
}

main inner-column p {
	max-width: 75ch;
}

.dark-toggle {
	display: flex;
}

.crash-link {
	font-family: Arial, sans-serif;
	font-size: 20px;
	font-weight: 600;
	color: #2638c4;
	text-transform: uppercase;
	margin-top: 40px;
}

h1 + p {
	margin-top: 20px;
}

.sort-text {
	margin-top: 10px;
}

.sort-link:hover {
	color: salmon;
}

/* VIDEO GRID */

.video-card {
	display: flex;
	flex-direction: column;
}

.video-card h2 {
	max-width: 448px;
}

.vid-thumb {
	max-width: 448px;
	margin-top: 20px;
}

.vid-thumb:hover {
	opacity: 50%;
}

.video-grid {
	margin-top: 10px;
}

.video-grid .vid-title-voice {
	margin-top: 15px;
}

@media (min-width: 760px) {

	.video-grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		grid-gap: 1em;
		margin-top: 15px;
	}

}

@media (min-width: 1260px) {

	.video-grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
		grid-gap: 1em;
	}

}

/* FOOTER */

.site-footer {
	background-color: white;
	margin-top: 100px;
	padding: 40px 0;
	position: relative;
}

.site-footer inner-column {
	background-color: white;
/*	display: flex;*/
}

.site-footer .logo {
	font-family: Arial, sans-serif;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 0.05rem;
	color: #2638c4;
}


.site-footer p, .site-footer a {
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: 200;
	line-height: 1.4;
}

.top-footer {
	padding-top: 20px;
	padding-bottom: 90px;
}

.top-footer h2, .top-footer li {
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.2;
}

.top-footer h2 {
	text-transform: uppercase;
}

.top-footer ul {
	margin-top: 10px;
}

.top-footer li {
	color: #2638c4;
	line-height: 1.8;
}

.top-footer inner-column {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.footer2, .footer3, .footer4 {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 100px;
}

.bottom-footer {
	position: absolute;
	bottom: 0;
	width: 100vw;
}

.bottom-footer, .bottom-footer inner-column {
	background-color: #2638c4;
	color: white;
	padding-top: 15px;
}

.bottom-footer inner-column {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.copyright {
		text-align: center;
}

.terms {
	display: flex;
	flex-direction: row;
}

.terms a {
	padding: 10px;
}






