@import "../../css/meyer-setup.css";

 body * {
/*	border: 4px solid red;*/
} 

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

inner-column {
	display: block;
	max-width: 1300px;
	margin-left: auto;
	padding: 20px;
	margin-right: auto;
}

section + h2 {
	margin-top: 40px;
}

.garden-heading {
	margin-bottom: 70px;
	padding: 20px;
}

.section-heading {
	background-color: lightpink;
	padding: 20px;
}

/* TYPOGRAPHY */

.heyyou-voice {
	font-family: sans-serif;
	font-size: 50px;

}

.attention-voice {
	font-family: sans-serif;
	font-size: 38px;
}

.information-voice {
	font-family: sans-serif;
	font-size: 28px;
}

.moreinfo-voice {
	font-family: sans-serif;
	font-size: 22px;
}

.reading-voice {
	font-family: Georgia, serif;
	font-size: 18px;
}

.moving-voice {
	font-family: sans-serif;
	font-size: 16px;
}

.quiet-voice {
	font-family: serif;
	font-size: 12px;
	font-weight: 600;
}

/* HEADERS */

/* HEADER 1 */

.header1 {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.header1 .site-nav {
	width: 100%;
	background-color: lightyellow;
	padding: 15px;
}

.nav-box1 {
	display: none;
}

.menu-link, .loc-link, .reso-link, .order-link, .jobs-link, .gift-link, .more-link {
	display: none;
}

.nav-box2 {
	display: none;
}

.header1 .site-nav inner-column {
	display: flex;
	justify-content: center;
}

.header1 .site-header h1, .header1 .site-header h2, .header1 .site-header h3, .header1 .site-nav  {
	padding: 10px;
	text-transform: uppercase;
	text-align: center;
}

.header1 .site-header inner-column {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	gap: 10px;
}

.header-row address, .header-row .tag {
	display: none;
}

@media (min-width: 600px) {
	.header1 {
		flex-direction: column-reverse;
	}

	.header1 .site-nav inner-column {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 20px;
	}

	.header1 .site-nav inner-column .nav-box1 {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 30px;
	}

	.nav-box2 {
		display: block;
	}

	.nav-link {
		display: none;
	}

	.menu-link, .loc-link, .more-link {
		display: block;
	}

	.header-row address, .header-row .tag {
		display: block;
		width: 25%;
		text-align: center;
	}

	.header-row h1 {
		width: 40%;
	}

	.header-row {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		gap: 10px;
	}

	.header-row h1 {
		/*margin-left: auto;
		margin-right: auto;*/
	}

	.spread {
		font-size: clamp(40px, 10vw, 60px);
	}
}

@media (min-width: 650px) {
	.reso-link {
		display: block;
	}
}

@media (min-width: 820px) {
	.order-link {
		display: block;
	}
}

@media (min-width: 870px) {
	.jobs-link {
		display: block;
	}
}

@media (min-width: 930px) {
	.gift-link {
		display: block;
	}

	.more-link {
		display: none;
	}
}

@media (min-width: 1090px) {
	.nav-box2 {
		display: none;
	}

	.nav-box1 {
		margin-left: auto;
		margin-right: auto;
	}
}

/* CONTENT MODULES */

/* CONTENT MODULE 1 */

.reserve-img {
	background-image: url("https://peprojects.dev/images/landscape.jpg");
	z-index: 0;
	background-position: center center;
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.content-module1 h2 {
/*	margin-top: 2.5em;*/
}

.reserve {
	padding-top: 60px;
	padding-bottom: 60px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.reserve p {
	text-align: center;
	line-height: 1.4;
}

.reserve a {
	background-color: red;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	margin-top: 30px;
	border-radius: 8px;
}

.reserve a:hover {
	background-color: black;
	cursor: pointer;
}
h2 + h3 {
	margin-top: 20px;
}

h2 + p {
	margin-top: 20px;
}

.circle {
	display: none;
}

@media (min-width: 600px) {
	.reserve-img {
		height: 400px;
		position: relative;
	}

	/*.reserve-img h2 {
	margin-top: 4.5em;
	}*/

	.circle {
		display: block;
		max-width: 125px;
		position: absolute;
		left: 20px;
		bottom: 20px;
		transition: 0.4s ease-in-out;
	}

	.circle:hover {
		max-width: 140px;
		transition: 0.4s ease-in-out;
	}
}

@media (min-width: 800px) {
	.content-module1 {
		display: flex;
		flex-direction: row;
	}
	.content-module1 h2 {
		font-size: 42px;
	}

	.content-module1 h3 {
		font-size: 20px;
	}

	.reserve-img, .reserve {
		height: 550px;
		padding: 70px;
	}

	.reserve-img h2 {
		max-width: 9ch;
		text-align: center;
	}
	.reserve-img h3 {
		text-align: center;

	}

	.reserve {
		flex-direction: column;
		align-items: flex-start;
	}

	.reserve p {
		text-align: left;
	}
}

@media (min-width: 900px) {
	.reserve-img h2 {
		max-width: none;
	}
} 

@media (min-width: 1000px) {
	.reserve-img {
		width: 60%;
	}
}

/* CONTENT MODULE 2 */

.content-module2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 10px;
	margin-right: 10px;
}

.content-module2 picture {
	margin: 20px 10px;
}

.content-module2 h2 {
	margin-top: 40px;
}

.content-module2 p {
	line-height: 1.5;
	text-align: center;
}

.content-module2 .bear {
	margin-top: 60px;
	max-width: 30%;
}

@media (min-width: 600px) {

	.content-module2-imgs {
		display: flex;
		flex-direction: row;
	}

	.content-module2 .img1, .content-module2 .img2 {
		max-width: 400px;
	}
	.content-module2 .bear {
		max-width: 60%;
	}
}

@media (min-width: 800px) {
	.content-module2 h2 {
		font-size: 42px;
	}

	.content-module2 p {
		max-width: 49ch;
	}
}

@media (min-width: 900px) {
	.content-module2 .bear {
		max-width: 100%;
	}
} 
/* FOOTERS */









