
html {
	--black: #111111;
	--white: #efefef;

	--neutral-stuffs: gray;

	--color: #9ec9eb;
	--highlight: #aadee9;

	--site-lightgreen: #d9df6a;
	--site-darkgreen: #35654e;
	--site-orange: #f8883f;
	--site-red: #e34425;
	--site-yellow: #f7d789;
	
	--neutral: #fef9f5;

	--shadow: rgba(0,0,0,.8);
	--box-shadow: ;

	--corners: 10px; /* or whatevers */

	--paper: var(--white);
	--ink: var(--black);

	--standard: 1140px;
	--tight: 800px;
}

@media (prefers-color-scheme: dark) {
	html {
		--paper: #231a1a;
		--ink: #ffffe2;
	}
}
