/* 
	BTW in case it isn't obvious... the whole PSSST-CSS idea is a joke 
	like... (it's just CSS)
*/

/* P reset */
@import "preset.css";

/* S etup */
@import "setup.css";

/* S setings */
@import "settings.css";
@import "developer-styles.css";

/* S tructure */
@import "structure.css";

/* T ypography */
@import "typography.css";

/* C omponents */
@import "components.css";

/* S tuff (modules) */
@import "modules.css";

/* S ections and more stuff */

/* then other contextual styles */
body {
	background-color: white;
	color: var(--ink);
}

text-content {
	display: block;
}

section:is(.sign-up, .get-involved) {
	background-color: var(--neutral);
}

section:is(.sign-up, .get-involved) inner-column {
	max-width: var(--tight);
}

section.get-involved .button {
/*	background-color: var(--site-red);*/
	color: var(--paper);
}

footer {
	background-color: var(--site-darkgreen);
}

@media (prefers-color-scheme: dark) {

	.site-header, mast-head {
		background-color: var(--black);
	}

	mast-head a {
		color: var(--white);
	}

	articles-intro {
		color: var(--black);
	}

	.latest {
		background-color: var(--black);
		color: var(--white);
	}

	.article-card {
		background-color: var(--black);
		color: var(--white);
	}
	section.sign-up {
		background-color: var(--black);
		color: var(--white);
	}

	section.sign-up .button {
		background-color: var(--site-orange);
		color: var(--white);
	}

	section.get-involved {
		background-color: var(--black);
		color: var(--white);
	}

	footer, site-map {
		background-color: var(--black);
		color: var(--white);
	}
}
