
graphic-diptych {
	display: block;
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding: 10vh 0;
}

graphic-diptych p {
	margin-top: 20px;
}

@media (min-width:  700px) {

	.hero-image {
		display: none;
	}

	.welcome {
		background-image: url("../../images/meal.jpg");
		background-position: top 55% right 50%;
		background-repeat: no-repeat;
		color: var(--white);
		height: 500px;
	}

	graphic-diptych {
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}

	graphic-diptych text-content {
		max-width: 55ch;
		position: relative;
		top: 100px;
	}

	graphic-diptych text-content p {
		font-weight: 700;
	}

	/*graphic-diptych :is(picture, text-content) {
		flex-basis: 50%;
	}*/
}
