@import 'components.css';

article-grid * {
	border: 3px solid black;
}

article-grid {
	display: flex;
	flex-direction: column;
	padding: 100px 10px;
}

.article-heading {
	padding: 30px 10px 30px 10px;
}

.article-cards {
	margin-top: 40px;
	padding: 10px;
}

.article-card-act, .article-card-read {

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 20px 10px 10px 10px;
	margin-bottom: 20px;
}

@media (min-width: 700px) {
	.article-cards {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		grid-gap: 15px;
	}

	.article-card-act, .article-card-read {
		margin-bottom: 0;
	}
}
