masthead-mod {
	display: flex;
	flex-direction: column;
	padding: 15px;
}

.site-menu, .user-menu {
/*	border: 3px solid black;*/
	padding: 15px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

masthead-mod a {
/*	border: 3px solid black;*/
	padding: 10px;
	color: blue;
	text-decoration: underline;
}

@media (min-width: 600px) {

	masthead-mod {
		flex-direction: row;
		justify-content: space-between;
	}
}