

footer * {
	border: 3px solid black;
}

footer-header {
	display: block;
	padding: 10px;
	padding-top: 30px;
	padding-bottom: 30px;
}

site-map {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 10px;
	padding-top: 50px;
	padding-bottom: 150px;
}

site-map .site-menu, site-map .user-menu, .legal-menu, .social-menu {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

site-map a {
	color: blue;
	text-decoration: underline;
}
