@import 'meyer-setup.css';

@import 'typography.css';

@import 'components.css';



body {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

main {
	flex-grow: 1;
}

inner-column {
	display: block;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

header {
	background-color: lemonchiffon
}

.diptych-section {
	background-color: lightpink;
}

.action-section1 {
	background-color: palegreen;
}

.article-section {
	background-color: lightblue;
}

.action-section2 {
	background-color: lightsalmon;
}

footer {
	background-color: plum;
}






