@import 'meyer-setup.css';

@import 'typography.css';

@import 'components.css';

@import 'masthead.css';
@import 'diptych.css';
@import 'action.css';
@import 'article-grid.css';
@import 'site-footer.css';



body {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

main {
	flex-grow: 1;
}

inner-column {
	display: block;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

header {
	background-color: rgb(160, 211, 182);
}

.diptych-section {
	background-color: rgb(161, 217, 230);
}

.action-section1 {
	background-color: rgb(213, 146, 190);
}

.article-section {
	background-color: rgb(250, 196, 144);
}

.action-section2 {
	background-color: rgb(255, 133, 141);
}

footer {
	background-color: rgb(246, 237, 220);
}






