hero-section {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.hero-links {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-top: 20px;

}

.hero1 .heyyou-voice {
	color: var(--black);
	text-transform: capitalize;
}

.hero1 .subtitle-voice {
	color: var(--darkgray);
}

.hero2 .hey-voice {
	font-weight: 700;
	letter-spacing: 1.2px;
	text-transform: capitalize;
	color: var(--black);
}

.hero2 p .reading-voice {
	color: var(--darkgray);
}

.hero2 a .button-rectFill {
	color: var(--white);
}

.hero3 .heyyou-voice {
	color: var(--white);
	letter-spacing: 3.2px;
}

.hero3 .subtitle-strong {
	line-height: 30px;
	color: var(--white);
}

@media (min-width: 320px) {
	.hero-links {
		flex-direction: row;
		gap: 8px;
		margin-top: 30px;
	}
}

@media (min-width: 600px) {

	hero-section {
		align-items: center;
	}
	hero-section h1, hero-section p {
		text-align: center;
	}

	.hero-links {
		display: flex;
		flex-direction: row;
		gap: 30px;
		margin-top: 50px;
	}
}

