generic-text {
	display: block;

}

generic-text p {
	max-width: 60ch;
	margin-top: 40px;
}

@media (min-width: 850px) {

	generic-text {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

	generic-text p {
		max-width: 75ch;
	}
}
