generic-text {
/*	display: grid;*/
/*	margin-top: 40px;*/
	display: block;
	grid-row: 2/3;
}

generic-text p {
	max-width: 60ch;
/*	margin-top: 20px;*/
}

@media (min-width: 850px) {

	generic-text p {
		max-width: 75ch;
	}
}
