/*graphic-diptych * {
	border: 2px solid red;
}*/

graphic-diptych {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

graphic-diptych .diptych-pic {
	max-width: 400px;
	margin-top: 30px;
	margin-bottom: 15px;
}

graphic-diptych p {
	margin-top: 15px;
}

graphic-diptych.flipped {
	flex-direction: column-reverse;
}

@media (min-width: 900px) {
	graphic-diptych {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	graphic-diptych.flipped {
		flex-direction: row-reverse;
	}

	graphic-diptych .diptych-pic {
		max-width: 600px;
		margin-right: 20px;
	}

	graphic-diptych.flipped .diptych-pic {
		margin-left: 20px;
	}

	graphic-diptych p {
		max-width: 70ch;

	}

	graphic-diptych.flipped p {
		margin-left: 0;
	}
/*
	.diptych-pic {
		margin-left: auto;
		margin-right: auto;
	}*/
	/*.flipped.diptych-pic {
		margin-right: 0px;
	}*/
}