@import '../../css/meyer-setup.css';

/* html * {
	border: 2px solid red;
} */

html {
	background-color: black;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Slab', monospace;
	color: white;
}

h2 {
	font-size: clamp(14px, 8vw, 38px);
	color: white;
	font-weight: 600;
	max-width: 65ch;
}

h3 {
	font-size: 26px;
	text-decoration: underline;
}

p, a, li, address {
	font-family: 'Red Hat Display', Helvetica, sans-serif;
	color: white;
}

p {
	font-size: 22px;
	line-height: 1.4;
	max-width: 63ch;
}

p + p {
	margin-top: 40px;
}

h2 + h2 {
	margin-top: 15px;
}

h2 + p {
	margin-top: 40px;
}

inner-column {
	display: block;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.main-header {
	margin-top: 20px;
}

.main-header inner-column {
	max-width: 1000px;
}
.main-header h1 { 
	font-size: clamp(30px, 8.5vw, 90px);
	font-family: 'Russo One', monospace; 
	color: white;
	letter-spacing: 0.04em;
	text-align: center;
	text-transform: uppercase;
}

.main-header h1::before {
	content: url(images/lightning-smaller.png);
}

.main-header h1::after {
	content: url(images/lightning-smaller.png);
}

.main-header h1:hover {
	color: yellow;
}

.main-header h1:hover::before {
	content: url(images/lightning-smaller-white.png);
}

.main-header h1:hover::after {
	content: url(images/lightning-smaller-white.png);
}

@media (min-width: 825px) {
	.main-header h1::before {
		content: url(images/lightning-small.png);
	}

	.main-header h1::after {
		content: url(images/lightning-small.png);
	}

	.main-header h1:hover::before {
	content: url(images/lightning-small-white.png);
	}

.main-header h1:hover::after {
	content: url(images/lightning-small-white.png);
	}
}

.main-nav {
	text-align: center;
	margin-top: 40px;
}

.main-nav a {
	font-size: clamp(14px, 5vw, 38px);
	font-family: monospace;
	color: white;
	text-align: center;
	text-transform: uppercase;
	padding-left: 20px;
	padding-right: 20px;
}

.welcome {
	/* background-image: url("images/woman-stock01.jpeg");
	background-repeat: no-repeat;
	background-size: cover; */
	background-color: lightgray;
	margin-top: 30px;
	padding-top: 30px;
	padding-bottom: 40px;
}

.welcome h2, .welcome p {
	padding-left: 30px;
	padding-right: 15px;
}

.welcome h2, .welcome p {
	color: black;
}

.services-contact inner-column {
	display: flex;
	flex-direction: column;
}

.services-box, .contact-box {
	border: 4px solid yellow;
	padding: 20px;
	width: 300px;
	height: 320px;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 680px) {
	.services-contact inner-column {
		display: flex;
		flex-direction: row;
	}

	.services-box, .contact-box {
	border: 4px solid yellow;
	padding: 15px;
	width: 300px;
	height: 320px;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 35px;
	}
}

.services-box p + p, .contact-box p + p {
	margin-top: 15px;
}

.services-box h3 + p, .contact-box h3 + p {
	margin-top: 30px;
}

.box-color {
	color: orange;
}

a .box-color:hover {
	color: cyan;
}

/*
.welcome-photo {
	max-width: 50rem;
	margin-left: auto;
	margin-right: auto;
}

.full-bleed {
	width: 100vw;
	margin-left: 50%;
	transform: translateX(-50%);
}
*/