body.default {
	background-color: pink;
	color: white;
	min-height: 100vh;
}

body[data-theme="default"] {
	background-color: pink;
	color: white;
	min-height: 100vh;
}

body[data-theme="yellow"] {
	background-color: #eebd52;
	color: white;
	min-height: 100vh;
}

body[data-theme="yellow"] p {
	background-color: #fb9d5b;
	padding: 30px;
	border-radius: 20px;
}

body[data-theme="blue"] {
	background-color: #18a5d3;
	color: white;
	min-height: 100vh;
}

body.gradient {
	background: rgb(195,34,190);
	background: linear-gradient(0deg, rgba(195,34,190,1) 0%, rgba(253,242,45,1) 100%);
	color: white;
}

button {
	margin-top: 40px;
	margin-left: 40px;
	padding: 20px;
	background-color: lightyellow;
}

a {
	text-decoration: none;
	color: white;
	font-size: 60px;
}

.reading-voice {
	font-family: "Courier";
	font-size: 40px;
}
.menu {
	display: none;
}

body.menu-open .menu {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: salmon;
}



body.dark {
	background-color: black;
	color: gold;
}

.check-toggle {
	margin-left: 50px;
}

body .type::after {
	content: "switch to dark mode";
}

body.dark .type::after {
	content: "switch to light mode";
}

output {
	display: block;
}

output:empty {
	display: none;
}

.form {
	border: 2px solid white;
	padding: 40px;
	margin-top: 20px;
	color: black;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

form-field {
	display: block;
	margin-bottom: 10px;
}

.button {
	border-radius: 20px;
	padding: 10px 20px 10px 20px;
	border: none;
	margin-top: 15px;
	margin-left: 0;
}

.outputInline {
	display: flex;
	align-items: center;
}

.outputHeading {
	margin-right: 5px;
}
