@import 'meyer-setup.css';

/*
body * {
	border: 2px solid red;
}*/

body {
	width: 390px;
	height: 844px;
	border: 1px solid black;
	border-radius: 10px;
	margin-left: 10px;
	margin-top: 20px;
/*	padding: 4px;*/
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
}

header, footer {
	background-color: #ffe494;
}

header {
	display: flex;
	gap: 10px;
	align-items: center;
	height: 100px;
	border-bottom: 2px solid black;
	padding-left: 15px;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	border-top: 2px solid black;
	border-bottom-left-radius: 9px;
	border-bottom-right-radius: 9px;
}

main {
	width: 390px;
	height: 644px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

#screen {
	padding-top: 50px;
}

.footer-nav ul {
	display: flex;
	gap: 8px;
	list-style-type: none;
	padding-left: 0;
}

form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	padding-left: 15px;
}

input {
	padding: 5px;
}

button {
	padding: 10px 10px;
/*	background-color: #249fc1;*/
	background-color: white;
	color: ##1b1b1b;
	border-radius: 15px;
	border: 2px solid ##1b1b1b;
}

.standard-screen {
	padding-left: 15px;
}

.screen-img {
	max-width: 388px;
}

.flex-box-row {
	display: flex;
	gap: 20px;
}

#splash {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.button-row {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

#fake-cover {
	background-color: blue;
	width: 200px;
	height: 300px;
}

#choose-text {
	margin-left: 15px;
	max-width: 40ch;
}

#choose-button {
	display: block;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	text-transform: uppercase;
	margin-left: 43px;
	margin-top: 50px;
}

.heyyou-voice {
	font-family: Futura, sans-serif;
	font-size: 30px;
	font-weight: 500;
}

.attention-voice {
	font-family: Futura, sans-serif;
	font-size: 24px;
	font-weight: 400;
}

.info-voice {
	font-family: Futura, sans-serif;
	font-size: 20px;
	font-weight: 400;
}

.reading-voice {
	font-family: Futura, sans-serif;
	font-size: 14px;
}

p + button {
	margin-top: 10px;
}
