/*
body * {
	border: 2px solid red;
}*/

body {
	width: 390px;
	height: 844px;
	border: 1px solid black;
	border-radius: 10px;
	padding: 4px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

header {
	display: flex;
	gap: 10px;
	align-items: center;
	height: 100px;
	border-bottom: 2px solid black;
}

footer {
	height: 100px;
	border-top: 2px solid black;
}

main {
	width: 390px;
	height: 644px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

#screen {
	padding-top: 50px;
}

.footer-nav ul {
	display: flex;
	gap: 8px;
	list-style-type: none;
}

form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
}

input {
	padding: 5px;
}

.flex-box-row {
	display: flex;
	gap: 20px;
}

#fake-cover {
	background-color: blue;
	width: 200px;
	height: 300px;
}

#choose-button {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	text-transform: uppercase;
}

.heyyou-voice {
	font-family: Futura, sans-serif;
	font-size: 30px;
	font-weight: 500;
}

.attention-voice {
	font-family: Futura, sans-serif;
	font-size: 24px;
	font-weight: 400;
}

.info-voice {
	font-family: Futura, sans-serif;
	font-size: 20px;
	font-weight: 400;
}

.reading-voice {
	font-family: Futura, sans-serif;
	font-size: 14px;
}

