
html {

	--shadow: rgba(0,0,0,.8);

	--black: #212121;
	--white: #ffffff;

	--primary: #3563e9; /* royal blue */
	--secondary: #2951e3; /* palatinate blue */
	--neutral: #eef3fd; /* zumthor; img standins */
	--lightneutral: #f7f9fe; /* ghost white - div backgrounds */
	--lightgray: #757575; /* subheadings */
	--darkgray: #424242; 
	--lightgray2: #E0E0E0; /* grid card borders */
	--footer-color: #c2d0f8; /* lavender blue */

	--systemgray: #616161;


	--color: #3563e9;
	--highlight: #2951e3;

	--shadow: #c2d0f8;

	--corners: 10px; /* or whatevers */

	--paper: #ffffff;
/*	--paper: hsla(209, 90%, 50%, 1.00); /*shadier dodgerblue*/
	--ink: #212121;
/*	--ink: white;*/

/* spacing */

	--section-padding: 50px 0;
	--header-padding: 20px 0;
	--footer-padding: 70px 0;

	--heading-top: 24px;
	--heading-bottom: 32px;
	--subtitle-over-button: 50px;
	--heading-over-button: 60px;
	--heading-over-para: 16px;
}

@media(min-width: 600px) {
	html {
		--section-padding: 80px 0;
		--header-padding: 22px 0;
		--footer-padding: 100px 0;
	}
}



@media (prefers-color-scheme: dark) {
	html {
		--black: #111111;
		--white: #efefef;

		--neutral-stuffs: gray;

		--color: hsla(206, 66%, 47%, 1.00);
		--highlight: hsla(190, 90%, 40%, 1.00);

		--shadow: rgba(0,0,0,.8);

		--corners: 10px; /* or whatevers */

		--paper:  hsla(217, 8%, 13%, 1.00); 
		--paper2: hsla(217, 6%, 17%, 1.00);  /*bunker*/
		--ink: hsla(0, 0%, 96%, 1.00);  /*whitesmoke*/
	}
}