/* Should we pull in @fonts here? */
/* don't think you can... might have to be higher up (the top of) the food chain! */

.heyyou-voice	{
	font-family: 'Inter', sans-serif;
	font-size: clamp(36px, 5vw, 60px);
	font-weight: 500;
	line-height: 1.1;
}

@media (min-width: 600px) {
	.heyyou-voice {
		font-size: 64px;
		line-height: 77px;
		letter-spacing: 1.2px;
		font-weight: 700; 
	}
}

.attention-voice	{
	font-family: 'Inter', sans-serif;
	font-size: clamp(30px, 4vw, 48px);
}

@media (min-width: 600px) {
	.attention-voice {
		font-size: 48px;
		font-weight: 600; 
	}
}

.info-voice {
	font-family: 'Inter', sans-serif;
	font-size: 22px;
	font-weight: 600;
}

.subtitle-voice {
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	line-height: 1.3;
}

.subtitle-strong {
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	font-weight: 500;
}

.subtitle-light {
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	font-weight: 300;
}

.reading-voice {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	line-height: 1.4;
}

:is(.reading-voice, p) em {
	font-style: italic;
}

:is(.reading-voice, p) strong {
	font-weight: 700;
}

.loud-voice {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	line-height: 1.4;
	font-weight: 700;
}

.quiet-voice {
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	font-weight: 300;
}

/* these would be scoped to section or to an article element */
/* this is just a loose setting for now */
/* or smaller group of article-like styles such as a <text-content> custom element */


code {
	font-family: monospace;
	font-size: 1.1em;
	color: green;
}

h1, h2 {
	max-width: 60ch;
}

:is(.heyyou-voice, .attention-voice) + .subtitle-voice {
	margin-top: var(--heading-bottom);
}

.subtitle-voice + :is(.heyyou-voice, .attention-voice) {
	margin-top: var(--heading-top);
}

h1 + p, h2 + p {
	margin-top: var(--heading-over-para);
}

.subtitle-voice + a {
	margin-top: var(--subtitle-over-button);
}

h1 + a, h2 + a {
	margin-top: 60px;
}




