/* Should we pull in @fonts here? */
/* don't think you can... might have to be higher up (the top of) the food chain! */

.heyyou-voice	{
	font-family: 'Inter', sans-serif;
	font-size: clamp(36px, 5vw, 60px);
}
@media (min-width: 600px) {
	.heyyou-voice {
		font-size: 64px;
		font-weight: 700; /* or variable font */
	}
}

.attention-voice	{
	font-family: 'Inter', sans-serif;
	font-size: 48px;
	font-weight: 600;
}

.info-voice {
	font-family: 'Inter', sans-serif;
	font-size: 22px;
	font-weight: 600;
}

.subtitle-voice {
	font-family: 'Inter', sans-serif;
	font-size: 20px;
}

.subtitle-strong {
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	font-weight: 500;
}

.reading-voice {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	line-height: 1.4;
}

:is(.reading-voice, p) em {
	font-style: italic;
}

:is(.reading-voice, p) strong {
	font-weight: 700;
}

.quiet-voice {
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	font-weight: 300;
}

/* these would be scoped to section or to an article element */
/* this is just a loose setting for now */
/* or smaller group of article-like styles such as a <text-content> custom element */
p + p {
	margin-top: 1em;
}

h2 + p {
	margin-top: 20px;
}

code {
	font-family: monospace;
	font-size: 1.1em;
	color: green;
}