card-grid {
	display: flex;
	flex-direction: column;
	align-items: center;
}

card-grid li {
	max-width: 60ch;
}

.card-grid {
	margin-top: 40px;
}

.card-grid picture {
	margin-bottom: 22px;
}

.card-grid li {
	margin-bottom: 22px;
}

:is(.cardgrid2, .cardgrid3b) .attention-voice {
	color: var(--black);
	text-transform: capitalize;
}

:is(.cardgrid2, .cardgrid3a, .cardgrid3b) .subtitle-voice {
	color: var(--lightgray);
	text-transform: capitalize;
}

:is(.cardgrid2, .cardgrid3b) .info-voice {
	color: var(--black);
	text-transform: capitalize;
}

:is(.cardgrid2, .cardgrid3b) .reading-voice {
	color: var(--systemgray);
	text-transform: capitalize;
}

.cardgrid3a .hey-voice {
	color: var(--black);
	text-transform: capitalize;
	margin-top: 16px;
}

.cardgrid3a .reading-voice {
	color: var(--lightgray);
}

.cardgrid3a .subtitle-strong {
	color: var(--primary);
	text-transform: capitalize;
}

.cardgrid3a .summary-heading {
	font-family: 'Inter', sans-serif;
	font-size: 24px;
	font-weight: 600;
	line-height: 29px;
	letter-spacing: 0.46px;
	color: var(--black);
}

.cardgrid2 li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 25px;
	border: 1px solid var(--lightgray2);
	border-radius: 10px;
}

.cardgrid3a li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	gap: 16px;

}

.cardgrid3b li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
}


@media (min-width: 700px) {
	.card-grid {
		display: grid;
		grid-template-columns: repeat(2, 380px);
	}

	.cardgrid2 .card-grid {
		grid-gap: 22px;
	}

	.cardgrid3a .card-grid {
		grid-gap: 32px;
		margin-bottom: 60px;
	}

	.cardgrid3a li, .cardgrid3b li {
		max-width: 40;
		text-align: center;
	}

	.cardgrid-headings {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.card-grid li {
		margin-bottom: 0;
	}
}

@media (min-width: 1200px) {
	.card-grid {
		grid-template-columns: repeat(3, 380px);
		margin-top: var(--heading-over-button);
	}
}
