@import 'meyer-setup.css';

@import 'structure.css';

@import 'typography.css';

@import 'components';

@import 'forms.css';

@import 'cards.css';

@import 'details.css';


/* SITE NAV */
/*
.site-header {
	background-color: white;
	position: sticky;
	top: 0;
	z-index: 5;
}*/

.site-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 10px;
	margin-top: 20px;
}

@media (min-width: 450px) {
	.site-nav {
		justify-content: flex-end;
		gap: 30px;
		padding: 0 20px;
	}
}

a.active {
	text-decoration: underline;
	text-decoration-color: salmon;
	text-decoration-thickness: .125em;
	text-underline-offset: 5.5px;
}

.site-nav a:hover {
	color: salmon;
}

/* LANDING */

/* IMAGES */


.meeting-photo {
	max-width: 500px;
}

/* FOOTER */

.site-footer inner-column {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 10px;
	margin-top: 20px;
	padding-bottom: 30px;
}

@media (min-width: 450px) {
	.site-footer inner-column {
		justify-content: flex-end;
		gap: 30px;
		padding: 50px 20px;
		margin-top: 100px;
	}
}
